/RTSForGit/nbproject/private/

.gradle
# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
lib/*
**/bin/

.project
.classpath
.settings

**/gen/

**/Thumbs.db
local.properties

**/*.dylib
/build/
*.log
/.nb-gradle/private/

core/nullatlas
core/nullcover
